head
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.js")
    script(type="text/javascript" src="../../app/app.login.js")

body
    h1 What the Fuck Do I Want To Watch?
    button(onClick = "window.location.href='/watchthis'") Go fucking watch this