doctype html
html(lang='en')
    head
        link(rel="stylesheet", href="/public/styles/bootstrap.css")
        link(rel="stylesheet",href="C:/Users/Michelle Victora/OneDrive/Website Practice/notes-board to become movie project/node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet",href="C:/Users/Michelle Victora/OneDrive/Website Practice/notes-board to become movie project/node_modules/bootstrap/dist/css/bootstrap.min.css")
        title What the Fuck Should I Watch?
        style
            include style.css
    block intro#main-block
        body(style="background-color:powderblue;")
        .container.left
            img.className#IdName(class="one",src=image,style='float: left;')
        .container.right
            h1(style="color:purple;font-size:100px;font-family:'Impact', sans-serif;text-align:center;")=title
            hr
            p(style="color:purple;font-size:37px;font-family:'Impact',sans-serif;text-align:center;")=description
            
        //img.className#IdName(src=image)
        button(class = "button2" onClick = "window.location.href='/watchthis'") I don't want to fucking watch this, give me something else