doctype html
html(lang='en')
    head
        link(rel="stylesheet", href="/public/styles/bootstrap.css")
        link(rel="stylesheet",href="C:/Users/Michelle Victora/OneDrive/Website Practice/notes-board to become movie project/node_modules/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet",href="C:/Users/Michelle Victora/OneDrive/Website Practice/notes-board to become movie project/node_modules/bootstrap/dist/css/bootstrap.min.css")
        title What the Fuck Should I Watch?
    style.
        h1{font-size: 39px;
        color: #464646;
        font-family: "Impact", sans-serif;}
        p{font-size: 20px;
        color: #464646;
        font-family: "Impact",sans-serif;}
    block intro#main-block
        .container
        h1=title
        .container
        p=description
        img.className#IdName(src=image)